*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #202020;
}
/* стилизуем наши блоки */
.blok{
  width: 50%;
  height: 400px;
  background-color: #3b3b3b;
  box-shadow: 1px 1px 17px rgb(0, 0, 0);
  margin: 2% auto;
  border-radius: 20px;
}
/* скрываем блоки для того чтобы унас получилась анимация
Управляй анимацией и не перестовай оттачиваать свои навыки */


/* анимация будет сверху в низ */
._top-bottom{
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 1s ease 0s;
}
/*
скрытый класс который будет добавляться
 при поподания в область экрана с небольшой анимацией */
._active{
  transform: translate(0px, 0px);
  opacity: 1;
}


/* теперь ты знаешь как это сделать */
