*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e3ebf9;
}
body::-webkit-scrollbar {
  width: 14px;
  background: transparent;

}
body::-webkit-scrollbar-track{
  background: #d4e2fa;
  border-radius: 20px;

}

body::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 10px;
  margin-right: 2px;
}

/* стилизуем наши блоки */
.blok{
  width: 90%;
  height: 600px;
  background-color: #e3ebf9;
  box-shadow: 0 0 20px rgb(115, 115, 115);
  margin: 2% auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
svg{
  max-width: 100%;
  height: 100%;
  object-fit: cover;

}
h1{
  font-size: 2.5rem;
  color: #171717;
}
/* скрываем блоки для того чтобы унас получилась анимация
Управляй анимацией и не перестовай оттачиваать свои навыки */


/* анимация будет сверху в низ */
._top-bottom{
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 1s ease 0s;
}
._right-bottom{
  transform: translate(100px, 0);
  opacity: 0;
  transition: all 1s ease .5s;
}
/*
скрытый класс который будет добавляться
 при поподания в область экрана с небольшой анимацией */
._active{
  transform: translate(0px, 0px);
  opacity: 1;
}


/* теперь ты знаешь как это сделать */
